/* Navbar.css */

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }
  
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
  }
  
  .navbar-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
  }
  
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
    }
  
    .navbar-links.show-menu {
      display: flex;
    }
  
    .hamburger {
      display: flex;
    }
  
    .bar.active:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .bar.active:nth-child(2) {
      opacity: 0;
    }
  
    .bar.active:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
  