/* Footer styles */
.footer {
    height: 30vh;
    background-color: rgb(210, 129, 210);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Style the social media links */
  .social-media a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    transition: color 0.3s ease; /* Add a smooth color transition */
  }
  
  .social-media a:hover {
    color: #ff9900; /* Change color on hover */
  }
  
  /* Center the copyright text */
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  /* Style the copyright text */
  .footer p {
    margin: 10px 0;
    font-size: 14px;
    opacity: 0.7;
  }
  
  /* Remove underlines from links */
  .social-media a:link,
  .social-media a:visited {
    text-decoration: none;
  }
  